# Terraform state files
terraform.tfstate
terraform.tfstate.*

# Backup files created by Terraform
*.tfstate.backup

# Terraform CLI files
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log

# Override files (local only, not committed to version control)
*.tfvars
*.tfvars.json

# IDE or editor-specific files
.vscode/
.idea/
*.swp

# Terraform plan files
*.tfplan
